#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  place-items: stretch;
}

/* Search Bar */

.search-bar form {
  display: flex;
  justify-content: end;
  justify-self: center;
  margin: 8em 0 10em 0;
}

.search-bar input {
  width: 50vw;
  padding: 25px 75px 25px 35px;
  font-size: 1.5em;
  background-color: #212121;
  border: none;
  border-color: transparent;
  border-radius: 50px;
}

.search-bar input:focus,
.search-bar input:focus-visible {
  outline: 2px auto rgba(29, 185, 84, 0.8);
}

.search-bar button {
  position: absolute;
  align-self: center;
  padding: 5px 25px 0 0;
  border: none;
  font-size: 2.5em;
  background-color: transparent;
  color: #b3b3b3;
  cursor: pointer;
  transition: color 0.25s;
}

.search-bar button:hover {
  color: #1db954;
}

/* Lists */

.lists-container {
  display: flex;
  gap: 50px;
}

.tracklist-container,
.playlist-container {
  width: 100%;
  background-color: #212121;
  border-radius: 10px;
  padding: 35px 55px;
  text-align: left;
  /* align-self: stretch; */
}

/* Tracks */

.track-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 0.25s;
}

.track-detail:hover {
  background-color: #535353;
}

.track-detail .track-summary {
  flex: 2;
}

.track-detail .track-summary h3,
.track-detail .track-summary p {
  margin: 0;
}

.track-detail .track-add button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  transition: color 0.25s;
}

.track-detail .track-add button:hover {
  color: #1db954;
}

/* Playlist */

.playlist-container button {
  background: #1db954;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

.playlist-container button:disabled,
.playlist-container button[disabled] {
  background-color: #b3b3b3;
  color: #535353;
  cursor: not-allowed;
  pointer-events: none;
}