#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

header img.logo {
  max-width: 300px;
  margin-top: 30px;
}

header p {
  font-size: 1.2em;
  margin-top: 10px;
}

main {
  display: flex;
  flex-direction: column;
  place-items: stretch;
}

/* Search Bar */

.search-bar {
  margin: 3em 0 5em 0;
  transition: margin 0.5s;
}

.search-bar-start {
  margin: 10em 0 10em 0;
}

.search-bar form {
  display: flex;
  justify-content: end;
  justify-self: center;
}

.search-bar input {
  width: 50vw;
  padding: 25px 75px 25px 35px;
  font-size: clamp(1em, 1.5vw, 1.5em);
  background-color: #212121;
  border: none;
  border-color: transparent;
  border-radius: 50px;
}

.search-bar input:focus,
.search-bar input:focus-visible {
  outline: 2px auto rgba(29, 185, 84, 0.8);
}

.search-bar button {
  position: absolute;
  align-self: center;
  padding: 5px 25px 0 0;
  border: none;
  font-size: 2.5em;
  background-color: transparent;
  color: #b3b3b3;
  cursor: pointer;
  transition: color 0.25s;
}

.search-bar button:hover {
  color: #1db954;
}

/* Lists */

.lists-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.tracklist-container,
.playlist-container {
  width: 100%;
  background-color: #212121;
  border-radius: 10px;
  padding: 35px 55px;
  text-align: left;
  position: relative;
  flex: 1;
}

/* Tracks */

.tracklist,
.track-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.tracklist {  
  padding: 15px 20px;
  border-radius: 10px;
  transition: background-color 0.25s;
}

.tracklist:hover {
  background-color: #535353;
}

.track-detail .track-summary {
  flex: 2;
}

.track-detail .track-summary h3,
.track-detail .track-summary p {
  margin: 0;
}

.tracklist .track-add button,
.tracklist .track-remove button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  transition: color 0.25s;
}

.tracklist .track-add button:hover,
.tracklist .track-remove button:hover {
  color: #1db954;
}

.search-bar .tooltip,
.track-add .tooltip,
.track-remove .tooltip,
.playlist-container .tooltip {
  background-color: #121212;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
}

/* Playlist */

.playlist-title {
  display: inline-block;
}

input.playlist-title {
  /* color: #1db954; */
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.83em 0;
  padding: 4px 0 10px 0;
  box-shadow: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1db954;
  field-sizing: content;
}

input.playlist-title:focus {
  outline: none;
}

button.playlist-title-edit-button,
button.playlist-title-update-button {
  font-size: 1.1em;
  background-color: transparent;
  border: none;
}

.playlist-container .save-button {
  display: flex;
  justify-self: center;
  background: #1db954;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  margin: 45px 0 25px 0;
  transition: all 0.25s;
}

.playlist-container .save-button:hover {
  background: #45bf70;
}

.playlist-container .save-button:disabled,
.playlist-container .save-button[disabled] {
  background-color: #b3b3b3;
  color: #535353;
  cursor: not-allowed;
  pointer-events: none;
}